$sidebar-width: 257px;
$sidebar-collapse-width: 70px;
$sidebar-padding: 26px;
$color-primary: #00B8D4;
$color-primary-light: #84FFFF80;
$color-background: #E5E5E5;
$color-btn: #0C8FCA;
$filter-width: 334px;
$color-text:#528AF7;